---
layout: null
home: true
permalink: /
visible_weight: 1
v-name: Home
page-id: home-page
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body id="scrolled-two" data-spy="scroll" data-target="#main-nav" data-offset="50">

    <!-- Header -->
    <div id="header" class="intro-header">
        <div class="container">

          <div class="row">
              <div class="col-xs-12 col-lg-12">
                  <div class="intro-message">
                      <div class="logo" align="center">
                          <img title="Kry8v Logo" class="img-logo img-responsive" src="img/kry8v-logo.png" style='height: 40%; width: 40%;' alt="Kry8v Logo" />
                      </div>
                      <h3>Infinitum Ignis Imaginatione</h3>
                      <hr class="intro-divider">
                      <h4>We
                      <div id="typed-strings">
                      <p><span style="color: #ffaa00;"> Love</span> Music and Graphics</p>
                      <p><span style="color: #ffaa00;"> Love</span> Web Design and Development</p>
                      <p><span style="color: #ffaa00;"> Love</span> Blogging</p>
                      <p><span style="color: #ffaa00;"> Ignite Infinite Imagination.</span></p>
                      </div>
                      <span id="typed"></span>
                      </h4>
                      <!--<ul class="list-inline intro-social-buttons">
                      <p><span style="color: #ffaa00;"> ^300 Ig^500nite Infinite Imagination.</span></p>
                      </ul>-->
                  </div>
              </div>
          </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.Header -->

    {% include navbar.html %}

    <div class="container arrow-link">
      <a class="arrow-link" href="#who">
          <div id="arrow" class="arrow bounce">
              <i class="fa fa-chevron-circle-down fa-3x"></i>
          </div>
      </a>
    </div>

    <!-- Page Content -->

    <!-- WHO WE ARE -->
    <div id ="who" class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who We Are</h2>
                    <p class="lead-paragraph text">
                      Look around you. Look at the beauty of creation. The birds. The trees. Land. Water. Air.
                    <br>Now look into the mirror. What you see is someone awesomely created by an <em>Awesome God</em>.
                    <br>
                    <br>We as Kry8v Media believe in creating art that is awesome and reflects the creativity which we find in creation.
                    <br>
                    <br>Find out more about us <a class="about-link" href="about.html">here</a>.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-radius img-responsive img-style" src="img/shout-mic.jpg" alt="Microphone" />
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.WHO WE ARE -->

    <!-- WHAT WE DO -->
    <div id="what" class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What We Do</h2>
                    <p class="lead-paragraph text">
                      We are simply the  guys who take your harmonies and add them to melodies with style.
                      <br>
                      <br>We also add style to the words you want others to see; like on billboards, or in magazines.
                      <br>
                      <br>Our charges can be found on the <a href="pricing.html">pricing</a> page.
                    </p>
                    <p class="lead-paragraph text">
                        Quality is a big issue to us therefore, if you feel the need to talk to us, please feel free to <a href="#contact-us">contact us</a> for more information and/or queries.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img title="Mixing Console" class="img-responsive img-style img-radius" src="img/paint.jpg" alt="Paint" />
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.WHAT WE DO -->


    <!-- Parallax Effect-->
    <div class = "parallax">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1 col-sm-offset-1 col-lg-4">
                        <div class="quoted">
                            <q>We Aim To Serve You With The Highest Possible Quality</q>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Parallax Effect -->

{% include contact.html %}

    <!-- FOLLOW US -->
    <div id="follow-us" class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <h2>Follow us!</h2>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline banner-social-buttons">
                            <li><a href="https://twitter.com/kry8vmedia" class="btn btn-default btn-md" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></li>
                            <li><a href="https://facebook.com/kry8v" class="btn btn-default btn-md" target="_blank"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a></li>
                            <li><a href="https://soundcloud.com/kry8vmedia" class="btn btn-default btn-md" target="_blank"><i class="fa fa-music fa-fw"></i> <span class="network-name">SoundCloud</span></a></li>
                            <li><a href="blog.html" class="btn btn-default btn-md"><i class="fa fa-newspaper-o fa-fw"></i> <span class="network-name">Read Blog</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.FOLLOW US -->

    {% include foot.html %}
    {% include scripts.html %}

  </body>

</html>
