---
layout: compress
home: true
permalink: /
visible_weight: 1
v-name: Home
page-id: home-page
image: img/facebook-ad.jpg
type: website
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body id="{{ page.page-id }}" data-spy="scroll" data-target="#home-nav" data-offset="50">
    
    <!-- Header -->
    <div id="header" class="intro-header">
        <div class="container">

          <div class="row">
              <div class="header-column">
                  <div class="intro-message">
                      <div class="logo">
                          {% include cl-responsive.html class="img-logo" title="Kry8v Logo" alt="Kry8v Logo" img="logos/kry8v-logo-white" %}
                      </div>
                      <h3>Infinitum Ignis Imaginatione</h3>
                      <hr class="intro-divider" />
                      <h4>We
                      <div id="typed-strings">
                      <p><span class="colored-text"> Love</span> Music and Graphics</p>
                      <p><span class="colored-text"> Love</span> Web Design and Development</p>
                      <p><span class="colored-text"> Love</span> Blogging</p>
                      <p><span class="colored-text"> Ignite Infinite Imagination.</span></p>
                      </div>
                      <span id="typed"></span>
                      </h4>
                      <script>
                          {% capture type %}{% include typing-animation.js %}{% endcapture %}
                          {{ type | uglify | strip }}
                      </script>
                  </div>
              </div>
          </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.Header -->

    {% include navbar.html %}
    
    <div id="go-down" class="container arrow-link">
      <a class="arrow-link" href="#who">
          <div id="arrow" class="visible-lg-block" >
              <i class="arrow bounce fa fa-chevron-circle-down fa-3x"></i>
          </div>
          <div id="arrow" class="hidden-lg" >
              <i class="arrow bounce fa fa-chevron-circle-down fa-2x"></i>
          </div>
      </a>
    </div>
    <script>
        $(function() {
            $('.arrow-link').smoothScroll(1000);
        });
    </script>

    <!-- Page Content -->

    <!-- WHO WE ARE -->
    <div id ="who" class="section-b">

        <div class="container">

            <div class="row">
                <div class="column right">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who We Are</h2>
                    <p>
                      Look around you. Look at the beauty of creation. The birds. The trees. Land. Water. Air.
                    <br>Now look into the mirror. What you see is someone awesomely created by an <em>Awesome God</em>.
                    <br>
                    <br>We as Kry8v Media believe in creating art that is awesome and reflects the creativity which we find in creation.
                    <br>
                    <br>Find out more about us <a href="about.html">here</a>.
                    </p>
                </div>
                <div class="column left">
                    {% include cl-responsive.html class="img-responsive img-radius" alt="Microphone" title="Microphone" img="img/shout-mic" %}
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.WHO WE ARE -->

    <!-- WHAT WE DO -->
    <div id="what" class="section-a">
        <div class="container">
            <div class="row">
                <div class="left-column">
                    <hr class="section-heading-spacer" />
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What We Do</h2>
                    <p>
                      We are simply the  guys who take your harmonies and add them to melodies with style.
                      <br>
                      <br>We also add style to the words you want others to see; like on billboards, or in magazines.
                      <br>
                      <br>Our charges can be found on the <a href="pricing.html#pricelist">pricing</a> page.
                    </p>
                    <p>
                        Quality is a big issue to us therefore, if you feel the need to talk to us, please feel free to <a href="#contact-us">contact us</a> for more information and/or queries.
                    </p>
                </div>
                <div class="right-column">
                    {% include cl-responsive.html class="img-responsive img-radius" alt="Paint" title="Paint" img="img/paint.jpg" %}
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.WHAT WE DO -->


    <!-- Parallax Effect-->
    <div class = "parallax">
        <div class="container-fluid">
            <div class="row">
                <div class="left-column left-column-small">
                        <div class="quoted">
                            <q>We Aim To Serve You With The Highest Possible Quality</q>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Parallax Effect -->

{% include contact.html %}

    <!-- FOLLOW US -->
    <div id="follow-us" class="banner">
        <div class="container">
            <div class="row">

                <div class="banner-social-buttons hidden-lg">
                    <div class="btn-column"><a href="https://twitter.com/kry8vmedia" class="btn btn-default btn-md" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></div>
                    <div class="btn-column"><a href="https://facebook.com/kry8v" class="btn btn-default btn-md" target="_blank"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a></div>
                    <div class="btn-column"><a href="blog.html" class="btn btn-default btn-md"><i class="fa fa-newspaper-o fa-fw"></i> <span class="network-name">Read Blog</span></a></div>
                    <div class="btn-column"><a href="https://soundcloud.com/kry8vmedia" class="btn btn-default btn-md" target="_blank"><i class="fa fa-music fa-fw"></i> <span class="network-name">SoundCloud</span></a></div>
                </div>
                    
                <div class="banner-social-buttons visible-lg-block">
                    <div class="btn-column"><a href="https://twitter.com/kry8vmedia" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></div>
                    <div class="btn-column"><a href="https://facebook.com/kry8v" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a></div>
                    <div class="btn-column"><a href="blog.html" class="btn btn-default btn-lg"><i class="fa fa-newspaper-o fa-fw"></i> <span class="network-name">Read Blog</span></a></div>
                    <div class="btn-column"><a href="https://soundcloud.com/kry8vmedia" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-music fa-fw"></i> <span class="network-name">SoundCloud</span></a></div>
                </div>

                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.FOLLOW US -->

    {% include foot.html %}
    {% include scripts.html %}

  </body>

</html>
