---
layout: jumbo
permalink: /store
headline: Kry8v Mall
title: Store
pageClass: store-page
pageFooter: store-footer
navigation_weight: 5
visible_weight: 5
v-name: Store
image: img/store-1.jpg
page-div: store
page-id: jumbo-page
description: Why go through the hassle of looking for our products? They are all here.
---

<!-- T-SHIRTS -->
<!-- <div id="t-shirts" class="section-a">
  <div class="container">
    <div class="row">
      <div class="full-width-column">
        <h2>T-Shirts</h2>
        <hr class="section-heading-spacer2">
      </div>
    </div>
  </div>
</div>
<div class="section-a attached-block">
  <div class="container">
    <div class="row">

      <div class="showcase-column">
        <div id="box-001" class="box">
          <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
          <span class="caption scale-caption">
            <h3>MindBlown Tees</h3>
            <p>Order your very own MindBlown Tee right here and let everyone know how amazing your thoughts are!</p>
            <p>{% include gum.html product="business-ninja" text="buy now" %}</p>
          </span>
        </div>
      </div>
      <div class="showcase-column">
        <div id="box-002" class="box center-block">
          <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
          <span class="caption scale-caption">
            <h3>MindBlown Tees</h3>
            <p>Order your very own MindBlown Tee right here and let everyone know how amazing your thoughts are!</p>
            <p>{% include gum.html product="business-ninja" text="buy now" %}</p>
          </span>
        </div>
      </div>
      <div class="showcase-column">
        <div id="box-003" class="box">
        <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
        <span class="caption scale-caption">
          <h3>MindBlown Tees</h3>
          <p>Order your very own MindBlown Tee right here and let everyone know how amazing your thoughts are!</p>
          <p>{% include gum.html product="business-ninja" text="buy now" %}</p>
        </span>
      </div>
      </div>

    </div>
  </div>
</div> -->
<!-- ./T-SHIRTS -->

<!-- STANDARD LEASE -->
<div id="standard" class="section-b">
  <div class="container">
    <div class="row">
      <div class="full-width-column">
        <h2>standard lease beats</h2>
        <hr class="section-heading-spacer2">
        <p class="centered-paragraph text">Some beats appearing in the players are available for premium lease and ultimate lease. If you are using a mobile device to view this site, we recommend using our <a href="http://myfla.sh/l3hz4">fullscreen beat store.</a></p>
        <p class="centered-paragraph">Click <a href="{{ site.url}}/pricing#licenses">here</a> for license information.</p>
      </div>
    </div>
  </div>
</div>
<div class="section-b attached-block">
  <div class="container">

    <div class="row showcase">
      <div class="full-width-column">
        <iframe id="mfs_html5" src="//www.myflashstore.net/widgets/html5/?uid=95583&config=251115" width="100%" height="510" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>

    <div class="row showcase">
      <div class="full-width-column">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/197309304&amp;color=ffaa00&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
    </div>

  </div>
</div>
<!-- /.STANDARD LEASE -->

<!-- PREMIUM LEASE -->
<!-- <div id="premium" class="section-c">
  <div class="container">
    <div class="row">
      <div class="full-width-column">
        <h2>Premium Lease beats</h2>
        <hr class="section-heading-spacer2">
      </div>
    </div>
  </div>
</div>
<div class="section-c attached-block">
  <div class="container">
    <div class="row">

      <div class="showcase-column">
        <div id="box-101" class="box">
          <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
          <span class="caption scale-caption">
            <h3>Instrmental 1</h3>
            <p>Info</p>
            <p>{% include gum.html product="" text="buy now" %}</p>
          </span>
        </div>
      </div>
      <div class="showcase-column">
        <div id="box-102" class="box">
          <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
          <span class="caption scale-caption">
            <h3>Instrumental 2</h3>
            <p>Info</p>
            <p>{% include gum.html product="" text="buy now" %}</p>
          </span>
        </div>
      </div>
      <div class="showcase-column">
        <div id="box-103" class="box">
        <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
        <span class="caption scale-caption">
          <h3>Instrumental 3</h3>
          <p>Info</p>
          <p>{% include gum.html product="" text="buy now" %}</p>
        </span>
      </div>
      </div>

    </div>
  </div>
</div> -->
<!-- /.PREMIUM LEASE -->

<!-- ULTIMATE LEASE -->
<!-- <div id="ultimate" class="section-a">
  <div class="container">
    <div class="row">
      <div class="full-width-column">
        <h2>ultimate lease beats</h2>
        <hr class="section-heading-spacer2">
      </div>
    </div>
  </div>
</div>
<div class="section-a attached-block">
  <div class="container">
    <div class="row">

      <div class="showcase-column">
        <div id="box-201" class="box">
          <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
          <span class="caption scale-caption">
            <h3>Instrmental 1</h3>
            <p>Info</p>
            <p>{% include gum.html product="" text="buy now" %}</p>
          </span>
        </div>
      </div>
      <div class="showcase-column">
        <div id="box-202" class="box">
          <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
          <span class="caption scale-caption">
            <h3>Instrumental 2</h3>
            <p>Info</p>
            <p>{% include gum.html product="" text="buy now" %}</p>
          </span>
        </div>
      </div>
      <div class="showcase-column">
        <div id="box-203" class="box">
        <img class="img-responsive scale-image" src="/img/mindblown-tee-front.jpg" alt="MindBlown T-shirt" title="MindBlown T-shirt"/>
        <span class="caption scale-caption">
          <h3>Instrumental 3</h3>
          <p>Info</p>
          <p>{% include gum.html product="" text="buy now" %}</p>
        </span>
      </div>
      </div>

    </div>
  </div>
</div>-->
<!-- /.ULTIMATE LEASE -->

{% include arrow.html %}
