<img
  src="http://res.cloudinary.com/krvmedia/c_limit,w_800,q_auto,f_auto/{{ include.img }}"
  srcset="
    http://res.cloudinary.com/krvmedia/c_limit,w_320,q_auto,f_auto/{{ include.img }} 320w,
    http://res.cloudinary.com/krvmedia/c_limit,w_640,q_auto,f_auto/{{ include.img }} 640w,
    http://res.cloudinary.com/krvmedia/c_limit,w_960,q_auto,f_auto/{{ include.img }} 960w,
    http://res.cloudinary.com/krvmedia/c_limit,w_1280,q_auto,f_auto/{{ include.img }} 1280w,
    http://res.cloudinary.com/krvmedia/c_limit,w_1600,q_auto,f_auto/{{ include.img }} 1600w"
  sizes="(min-width: {{ include.size }}rem) {{ include.size }}rem, {{ include.vw }}vw" alt="{{ include.alt }}" width="{{ include.width }}" height="{{ include.height }}"
/>