{% if page.web-image %}
    <div class="rectangle">
        <img alt="{{page.title}}" title="{{page.title}}"  itemprop="thumbnailUrl"  src="{{ page.web-image }}">
        <span class="caption simple-caption">
            <p>{{ page.web-img-caption }}</p>
            <p>Image courtesy of <a rel="nofollow" target="_blank" href="{{ page.web-img }}">{{page.web-img-src}}</a></p>
        </span>
    </div>
{% else %}
    <div class="rectangle box">
        <img class="img-responsive" alt="{{page.title}}" title="{{page.title}}" itemprop="thumbnailUrl"  src="/img/posts/{{page.image}}">
        <span class="caption simple-caption">
            <p>{{ page.image-caption }}</p>
        </span>
    </div>
{% endif %}
