---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <!-- Hide Address Bar -->
  <!-- setTimeout(function() { window.scrollTo(0, 1) }, 100); -->
  <body id="{{ page.page-id }}" class="{{ page.bodybg }}" >

    <div id="scroller"></div>

    {% unless page.no-footer-nav %}
      {% include navbar.html %}
    {% endunless %}

    <div id="scrolled-one" class="content {{ page.extra }} {{ page.page-div }}">
      {{ content }}
    </div>


    {% unless page.no-footer or page.no-footer-nav %}
      {% include foot.html %}
    {% endunless %}

    {% include scripts.html %}
  </body>
</html>
